/* ChatBot.css */

.chatbot-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background: linear-gradient(to right, #68d391, #4299e1); */
  }
  
  .chatbot-header {
    margin-bottom: 2rem;
    font-weight: 700;
    font-size: 3rem;
    color: rgb(17, 17, 17);
    background-color: #0b5ef8;
    text-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot-messages-container {
    background-color: #ffffff;
    width: 100%;
    max-width: 32rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
  
  .chatbot-messages {
    padding: 1rem;
    height: 24rem;
    overflow-y: auto;
  }
  
  .chatbot-message {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .chatbot-user-message {
    background-color: #4299e1;
    color: #ffffff;
    align-self: flex-end;
  }
  
  .chatbot-bot-message {
    background-color: #edf2f7;
    align-self: flex-start;
  }
  
  .chatbot-input-container {
    padding: 1rem;
    border-top: 1px solid #edf2f7;
    display: flex;
  }
  
  .chatbot-input {

    flex: 1;
    padding: 0.5rem;
    border: 1px solid #0f0f0f;
    border-radius: 0.5rem;
    outline: none;
  }
  
  .chatbot-send-button {
    margin-left: 30%;
    background-color: #4299e1;
    color: #111111;
    padding: 0.9rem;
    border-radius: 0.9rem;
    transition: all 0.2s;
    cursor: pointer;
  }
  
  .chatbot-send-button:hover {
    background-color: #3182ce;
  }
  